html,body{
    margin: 0;
    padding:0;
    height: 100%;
    // background-color: black;
}
canvas{
    background-color: black;
    width: 100vw;
    height: 50vh;
    display: block;
}
#canvas2{
    // transform: translateY(-50%);
}
audio{
    margin: 0 auto;
    display: block;
    position: fixed;
    inset: 0;
    margin: auto;

}